.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav a {
  text-decoration: none;
  background-color: salmon;
  color: aliceblue;
  margin-left: 1ch;
  border: 3px solid coral;
  border-radius: 5px;
}
