h2,
.sec-delete {
  display: inline-flex;
  flex-direction: row;
}

.section-group {
  border: 1px solid black;
  background-color: rgb(233, 233, 233);
  border-radius: 7px;
  margin-top: 20px;
  padding: 10px 20px;
}

.all-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
